* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	max-width: 100%;
	overflow-x: hidden;
	justify-content: center;
	align-items: center;
}

.content {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: auto;
	border: solid #00000099 1px;
}

.settings {
	display: flex;
	padding: 10px;
	grid-row: 2;
	grid-column: 1;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	border-top: solid #00000099 1px;
}

.settings * {
	display: inline-block;
	margin: 10px;
}

.settings div {
	display: flex;
	justify-self: center;
	align-self: center;
	justify-content: center;
	align-items: center;
}

.warning {
	max-width: 250px;
	word-wrap: break-word;
	color: red;
}

.settings label + * {
	margin-left: 5px;
}

.settings label {
	margin-right: 0;
}

.settings-group {
	border: solid #00000099 1px;
}

.floating-label {
	display: none;
	position: fixed;
	padding: 3px;
	background-color: white;
	border: solid #00000099 1px;
}

.slider-container {
	background: #cccccc;
}

.slider-container input {
	margin: 0;
	width: 100px;
}

.button {
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border: solid #00000099 1px;
	border-radius: 1px;
	background-color: white;
	color: #000000;
	cursor: pointer;
}

.critical-slider {
	background: linear-gradient(to right, #cccccc, #ffcccc, #ff3333);
}

.critical-slider-reverse {
	background: linear-gradient(to left, #cccccc, #ffcccc, #ff3333);
}

.button:hover {
	filter: brightness(0.95);
}

#canvas {
	margin: 10px;
	grid-row: 1;
	grid-column: 1;
	justify-self: center;
	align-self: center;
}

#animation-input {
	display: none;
}
